{% extends "Base.html" %}
{% load get_color_tag %}

{% block body %}
    <div class="pull-right" style="margin-top: 20px; margin-right: 20px; "><a target="_blank" href="/feed" style="color: orangered"><i class="fa fa-feed"></i></a> </div>
    <div class="jumbotron text-center" style="margin-top: 10px">
        <h1>NotiWeb</h1>
        <p class="lead">Las últimas noticias de toda la red en un solo sitio.</p>
        {#    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>#}
    </div>
    <div class="row marketing grid" data-masonry='{ "itemSelector": ".grid-item" }'>
    <div class="col-sm-4 col-md-4 grid-item">
        <div class="col-sm-12 col-md-12 thumbnail text-center" style="background-color: #1b6d85; color: white; border-radius: 10px">
            <h2><i class="fa fa-gitlab"></i> Visítame en Gitlab</h2>
        </div>
        {% for anuncio in anuncios %}
            <div class="col-sm-12 col-md-12 thumbnail" style="background-color: {% get_random_color %}; color: white; border-radius: 10px">
                <div class="col-md-2"><h2><i class="fa fa-bullhorn"></i></h2></div>
                <div class="col-md-10">
                    <h5> {{ anuncio.titulo }}</h5>
                    <h6>{{ anuncio.texto }}</h6>
                </div>
            </div>
        {% endfor %}
    </div>
    {% for sitio in sitios %}
        <div class="col-sm-4 col-md-4 grid-item" >
            <div class="thumbnail">
                <img style="width: auto; height: 50px" src="/media/{{ sitio.foto }}" alt="">
                <div class="caption">
                    <h3><a target="_blank" href="{{ sitio.url }}">{{ sitio.titulo }}</a></h3>
                    {% for feed in feeds %}
                        {% if feed.sitio == sitio %}
                            <div class="panel" style="overflow-wrap: break-word">
                                <h5><a target="_blank" href="{{ feed.url }}">{{ feed.titulo }}</a></h5>
                                <h6>{{ feed.descripcion|truncatewords:30 }}</h6>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <p><a target="_blank" href="{{ sitio.rss }}" class="btn btn-primary" role="button"><i class="fa fa-rss"></i></a> </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="text-center" style="margin-top: 100px; margin-bottom: 20px"><img src="/static/img/djangopowered126x54.gif"></div>
{% endblock %}